body {
    font-family: Arial, sans-serif;
    background-color: white;  
    margin: 0;
    padding: 20px;
}

h1 {
    color: #806b63;
    text-align: center;
    margin-bottom: 30px;
}

.contactform {
    background-color: #efebe0;  
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;  
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #806b63;
}

input, textarea {
    width: calc(100% - 20px);  
    padding: 12px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus, textarea:focus {
    border-color: #e8c4c6;
    outline: none;
    box-shadow: 0 0 5px rgba(232, 196, 198, 0.6);
}

button {
    background-color: #806b63;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #e8c4c6;
}

h2 {
    color: #806b63;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center; 
    font-size: 24px;
}

.LocTime {
display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 30px;
}

.locationBox, .hoursBox {
    background-color: #efebe0; 
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.locationLink {
    color: #806b63;
    text-decoration: none;
    font-size: 16px;
}

.locationLink:hover {
    text-decoration: underline;
  font-size:larger;
}

.numberlink {
    color: #806b63;
    text-decoration: none;
    font-size: 16px;
}

.numberlink:hover {
    text-decoration: underline;
  font-size:larger;
}

p {
    color: #333;
    font-size: 16px;
}

.cow {
    color: #806b63; 
    font-weight: bold;
}
